$green: #34b233;
$yellow: #fecb00;
$blue: #2d68c4;
$red: #ea2839;

$border: hsl(0, 0%, 80%);
$border-hover: hsl(0, 0%, 70%);
$border-active: hsl(0, 0%, 60%);

$duration: 150ms;
$easing: cubic-bezier(0.39, 0.575, 0.565, 1);
